<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutoIniEParam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutoInit1Servlet</display-name>
    <servlet-name>AutoInit1Servlet</servlet-name>
    <servlet-class>servlet.AutoInit1Servlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>adminEmail</param-name>
      <param-value>admin@sistema.com</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AutoInit2Servlet</display-name>
    <servlet-name>AutoInit2Servlet</servlet-name>
    <servlet-class>servlet.AutoInit2Servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>